---
// components script
const profilePictures = "https://i.imgur.com/JPGFE75.jpg";
---
<!-- components templete -->


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Hola Mundo!!!</h1>
		<img src={profilePictures} alt="Frau katerina's website" width="100px" height="100px" />
		<div>
			<h1>Frau katerina</h1>
			<h2>VP of Engineering at Goooogle</h2>
			<p>
				Helping devlopers be excllent and succeed at building scalable products
			</p>
		</div>
	</body>
</html>

<!-- Astro files -->
<!-- Astro components -->
